.App {
  text-align: center;
  transition: background-color .3s;
  min-height: 100vh;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark mode and Light mode */
.App.darkMode{
  background-color: #282c34;
}
.App.lightMode{
  background-color: antiquewhite;
}

/* search  */
.search input{
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: #282c34;
}
.search input:focus{
  outline: none;
}
